body {
  /* Colors */
  --color-black: #000;
  --color-theme: #ea28a3;
  --color-bright-gray: #e6e8ea;
  --color-cultured-gray: #f4f4f4;
  --color-dove-gray: #6c6e75;
  --color-oslo-gray: #8b8d92;
  --color-dark-gunmetal: #1f2127;
  --color-dark-silver: #75736c;
  --color-desert-storm: #f8f8f8;
  --color-lavender: #9e3b7a;
  --color-lavender-blush: #fcf2f8;
  --color-pastel-purple: #b89fae;

  /* Heights */
  --height-hot-deal: 2.25rem;
  --height-header: 4.25rem;
  --height-category-item: 6.375rem;
  --height-top-search: 2.8125rem;
  --height-banner: 28.5rem;
  --height-banner-search: 3.125rem;
  --height-trending-item: 16.125rem;
  --height-mobile-trending-large-item: 24rem;
  --height-product-item: 29.125rem;
  --height-achivement-item: 12.5rem;

  /* Mobile */
  --mobile-padding: 2rem;
}
