/* Achivements */

.achievement__list {
  height: 200px;
  display: flex;
  justify-content: center;
  border-block: 1px solid var(--color-bright-gray);
}

.achievement__item {
  max-width: 18.75rem;
  padding-inline: 1.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
}

.achievement__item:not(:last-of-type) {
  border-right: 1px solid var(--color-bright-gray);
}

.achievement__item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.achievement__item-title {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
}

.achievement__item-desc {
  margin-bottom: 1.875rem;
  font-size: 13px;
  line-height: 1.5rem;
  color: var(--color-oslo-gray);
}
