/* Categories */

.categories {
  padding-inline: 4.75rem;
  margin-top: 5.625rem;
  margin-bottom: 6.375rem;
}

.categories__title {
  font-size: 1.5rem;
}

.categories__list {
  margin-top: 1.125rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, var(--height-category-item));
  gap: 1rem;
}

.categories__item {
  background: var(--color-desert-storm);
  border-radius: 0.3125rem;
  display: flex;
}

.categories__item-header {
  margin-left: 1.25rem;
}

.categories__link {
  padding: 0.5rem;
  display: flex;
  width: 100%;
}

.categories__figure {
  width: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories__name {
  margin-top: 1rem;
  font-size: 1rem;
}

.categories__stock-count {
  margin-top: 0.25rem;
  font-size: 0.8125rem;
}

/* Media Queries */

@media screen and (max-width: 992px) {
  .categories__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, var(--height-category-item));
  }
}

@media screen and (max-width: 768px) {
  .categories {
    padding-inline: unset;
  }

  .categories__title {
    text-align: center;
  }

  .categories__list {
    margin-top: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 576px) {
  .categories__list {
    margin-top: 4rem;
    grid-template-columns: none;
    padding-inline: 10vw;
  }

  .categories__name {
    margin-top: 0;
  }

  .categories__item-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
