/* Footer */

.footer {
  margin-top: 1.75rem;
  background: var(--color-lavender-blush);
  color: var(--color-oslo-gray);
  font-size: 0.75rem;
}

.footer__content {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr 1fr 2fr 1fr 3fr;
  padding-top: 5rem;
  padding-bottom: 4rem;
}

.footer__logo-payment {
  margin-left: -1rem;
}

.footer__customer-services {
  grid-column-start: 3;
  padding-left: 0.5rem;
}

.footer__information {
  grid-column-start: 5;
  margin-left: -0.75rem;
}

.footer__social-shipping {
  grid-column-start: 7;
  margin-left: -0.25rem;
}

.footer__title {
  font-size: 0.8125rem;
  padding-top: 1rem;
  letter-spacing: 2px;
}

/* Logo & mail */

.footer__mail {
  margin-top: 1.25rem;
}

.footer__mail-link {
  font-size: 0.875rem;
}

/* Payment methods */

.payment-methods {
  position: relative;
  margin-top: 3rem;
  border: 1px solid var(--color-oslo-gray);
}

.payment-methods__title {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%) translateY(-50%);
  background-color: var(--color-lavender-blush);
  padding-inline: 0.25rem;
  white-space: nowrap;
}

.payment-methods__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 2rem 1rem 1rem;
  /* column-gap: 8px; */
  row-gap: 1.375rem;
}

.payment-methods__item {
  justify-self: center;
  align-self: center;
  padding-right: 1rem;
}

/* Navigations */

.footer__nav-list {
  margin-top: 1.5rem;
}

.footer__nav-item:not(:first-child) {
  margin-top: 0.875rem;
}

/* Socials */

.social__list {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.social__item:not(:first-child) {
  margin-left: 2rem;
}

/* Shipping */

.shipping {
  margin-top: 3rem;
}

.shipping__list {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.625rem;
}

/* Copyright */

.copyright {
  padding-block: 1.875rem;
  border-top: 1px solid var(--color-bright-gray);
  line-height: 1.5rem;
  color: var(--color-pastel-purple);
}

/* Media Queries */

@media screen and (max-width: 1200px) {
  .footer {
    padding-inline: 1rem;
  }
}

@media screen and (max-width: 992px) {
  .footer__content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .footer__logo-payment {
    margin-left: unset;
    order: 0;
  }

  .footer__customer-services {
    grid-column-start: unset;
    padding-left: unset;
    order: 2;
  }

  .footer__information {
    grid-column-start: unset;
    margin-left: unset;
    order: 3;
  }

  .footer__social-shipping {
    grid-column-start: unset;
    margin-left: unset;
    order: 1;
  }
}

@media screen and (max-width: 576px) {
  .payment-methods {
    border: none;
  }

  .social__item:not(:first-child) {
    margin-left: 1rem;
  }

  .shipping {
    margin-top: 1.5rem;
  }

  .shipping__list {
    margin-top: 1.5rem;
  }

  .footer__title {
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 415px) {
  .footer__content {
    grid-template-columns: unset;
  }

  .footer__social-shipping {
    order: 4;
  }

  .shipping {
    margin-top: 2.5rem;
  }
}
