/* Deal */
.deal {
  color: var(--color-dove-gray);
  font-size: 0.688rem;
  word-spacing: 3px;
  background: var(--color-cultured-gray);
}

.deal__content {
  height: var(--height-hot-deal);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main header */
.main-header {
  border-bottom: 1px solid var(--color-bright-gray);
}

.main-header__logo {
  padding-bottom: 0.5rem;
}

.main-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--height-header);
}

/* Search bar */
.top-search {
  position: relative;
  display: flex;
  padding-left: 1.5rem;
}

.top-search__input {
  min-width: 26.5rem;
  height: var(--height-top-search);
  border: 1px solid var(--color-bright-gray);
  padding-inline: 1.625rem;
  color: var(--color-oslo-gray);
  font-size: 0.75rem;
  font-weight: 300;
}

.top-search__label {
  width: var(--height-top-search);
  height: var(--height-top-search);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-black);
}

/* Account functions */
.account {
  display: flex;
}

.account__function:not(:last-child) {
  margin-right: 3rem;
}

.account__function-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.375rem;
  height: 100%;
}

.account__function-name {
  font-size: 0.6875rem;
  color: var(--color-dove-gray);
}

/* Navigation */
.top-navigation__list {
  display: flex;
  justify-content: space-between;
  padding-block: 1.125rem;
}

.top-navigation__link {
  font-size: 0.875rem;
}

/* Media Queries */

@media screen and (max-width: 992px) {
  .account__function:not(:last-child) {
    margin-right: 1rem;
  }

  .main-header__content {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-block: 2rem;
    gap: 2rem;
  }

  .top-navigation__list {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .top-search__input {
    min-width: 80vw;
  }
}
