/* Trendings */
.trending {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, var(--height-trending-item));
  gap: 1rem;
}

.trending__item {
  padding-inline: 1.875rem;
  border-radius: 0.625rem;
}

.trending__item.trending__item--large {
  grid-row: span 2;
  padding-inline: 4.25rem;
  background-image: url(/asset/img/trending/usb-flash-drive.png);
}

.trending__item.trending__item--top {
  background-image: url(/asset/img/trending/coffee-cups.png);
}

.trending__item.trending__item--center {
  background-image: url(/asset/img/trending/perfumes.png);
}

.trending__item.trending__item--large .trending__item-header {
  margin-top: 8.5rem;
}

.trending__item.trending__item--top .trending__item-header {
  margin-top: 1.875rem;
  line-height: 2.25rem;
}

.trending__item.trending__item--center .trending__item-header {
  margin-top: 4.5rem;
  line-height: 2.25rem;
}

.trending__item.trending__item--large
  .trending__item-header
  .trending__item-title {
  margin-top: 0.25rem;
  font-size: 3.125rem;
}

.trending__item-title {
  font-size: 1.875rem;
}

.trending__item-desc {
  max-width: 40%;
  margin-top: 0.5rem;
  font-size: 0.8125rem;
  line-height: 1.375rem;
  color: var(--color-oslo-gray);
}

.trending__item-link {
  display: inline-block;
  margin-top: 1.5625rem;
  border-bottom: 1px solid var(--color-black);
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .trending {
    grid-template-columns: unset;
    grid-template-rows: var(--height-mobile-trending-large-item) repeat(
        2,
        var(--height-trending-item)
      );
    gap: var(--mobile-padding);
  }

  .trending__item.trending__item--large {
    grid-row: auto;
  }

  .trending__item[class*="trending__item--"] {
    padding-inline: var(--mobile-padding);
    border-radius: 0.425rem;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .trending__item[class*="trending__item--"] .trending__item-header {
    margin-top: 0;
  }

  .trending__item-link {
    align-self: start;
  }
}

@media screen and (max-width: 576px) {
  .trending__item.trending__item--large
    .trending__item-header
    .trending__item-title {
    font-size: 1.875rem;
  }

  .trending__item-desc {
    max-width: unset;
  }
}
